@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gluten&family=Gochi+Hand&family=Rock+Salt&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/pastel-grid.jpg");
}
#header {
    background-color: #fbf3d4;
    padding: 25px 20px 20px;
    height: 200px;
    text-align: center;
    font-size: 35px;
    color: #000000	;
    font-family: 'Caveat Brush', cursive; 
}

p {
    margin-top: 10px;
}

a{
    background-color:#fbf3d4 ;
    font-size: 30px;
    color: #7a4a88;
    width: 500px;
    border: 15px;
    padding: 50px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    font-family: 'Salsa', cursive;
}
a{
    display: flex;
    height: 50px;
    align-items: center;
    color: #7a4a88;
    justify-items: center;
    font-family: 'Salsa', cursive;
}