@import url();
body{
    background-color: darkslategrey;
    color: white;
}
#wrapper {
    position: relative;
    height: 3300px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/background.png)
}
#bagian-1 {
    position: relative;
}
    .labu-mangap- {
        max-width: 1074px;
        width: 90%;
        display: block;
        margin: auto;
    }
    .halloween-menu- {
        position: absolute;
    }
    .kare- {
        position: absolute;
        top: 450px;
        right: 610px;
    }
    .ramen- {
        position: absolute;
        top: 500px;
        right: 410px;
    }
    .hitsumabushi- {
        position: absolute;
        top: 450px;
        right: 180px;
    }


    .mitsu-special- {
    display: block;
    margin: auto;
    margin-top: 10%;
    }
    .tombol {
        margin: auto;
        display: block;
    }
    .tombol-kare- {
    height: fit-content;
    max-width: 255px;
    width: 20%;
    }
    .tombol-ramen- {
        height: fit-content;
    max-width: 255px;
    width: 20%;
    }
    .tombol-hitsumabushi- {
    max-width: 255px;
    width: 20%;
    }
    .zombie-1- {
        position: absolute;
        top: -720px;
        left: 50px;
    }
    .zombie-2- {
        position: absolute;
        top: -1900px;
        left: 450px;

    }
    .rumah- {
        position: absolute;
        top: -240px;
        right: -680px;
    }
#bagian-3 {
    position: relative;
}
    .kare-labu- {
        position: absolute;
        top: 1650px;
        right: 700px;
    }
    .menu-kare- {
        position: absolute;
        top: 1650px;
        right: 300px;
    }
    .ramen-labu- {
        position: absolute;
        top: 1990px;
        right: 30px;
    }
    .menu-ramen- {
        position: absolute;
        top: 1970px;
        right: 420px;
    }
    .hitsumabushi-labu- {
        position: absolute;
        top: 2300px;
        right: 700px
    }
    .menu-hitsumabushi- {
        position: absolute;
        top: 2300px;
        right: 300px;
    }
    .isi-hitsumabushi- {
        display: block;
        font-size: 22px;
        margin-top: 1300px;
        margin-left: 200px;
        list-style: none;
    }
#bagian-4 {
    position: relative;
}
    .kupon {
        position: absolute;
        top: 2700px;
        right: 160px;
    }
    .akses {
        position: absolute;
        top: 2930px;
        right: 770px;
    }
#menu-explanation {
    position: relative;
}
.isi-ramen- {
    display: flex;
    font-size: 22px;
    margin-left: 200px;
    list-style: none;
    color: red;
    width: 100%;
}